
@media (min-width: 1050px) and (max-width: 5000px) {


body {
  background-color: beige;
}

#form {

    width:900px;
    height: 500px;
    background-color: rgb(30, 120, 210);
    display: flex;
    align-items: center;
  justify-content: center;
  margin-left: 30%;
border-style: dotted; }
  

  #multi {
   color:whitesmoke;
   text-align: center;
   font-size: 55px;
   margin-left: -30px;
  }

  #multi:hover {
    color:red;
  }

#ei {
  border-radius: 50%;
  width: 25%;
  float:left;
border-style: dotted;
}

#button {

  width: 150px;
  height: 50px;
  background-color: red;
  color:white;
  
}

input {
  width: 200px;
  height: 50px;
  background-color:black;
  color:white;
  font-size: 30px;
}

.cg {
  color:black;
  font-size: 30px;
}

.result {
  color:white;
  font-weight: 500;
  margin-left: 10px;
  font-size: 30px;
}

h3 {
  color:white;
}

#warning {

  width: 50px;
  height: 50px;
}}